*{
	margin:0;
	padding:0;
}

body {
	background:url(../img/6.jpg) ;
	font-family: Arial;
}

.lau{
	margin: 15px;
	padding: 12%;
	text-align: center;
}

.lau h2 {
	margin: 30px;
	padding: 20px;
}

.lau button {
	margin: 25px;
	font-size: 15px;
}

#main-container {
	margin: 25px ;
	position: right;
	width: 600px;
}
input {
	margin:5px;
}
select {
	margin:5px;
}
/*estilizar tabla*/
table {
	background-color: #B7C9;
	background:;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	
	padding: 10px;
}

thead {
	background-color: #B7C8FF;
	color: black;
}

tr:nth-child(even) {
	background-color: ;

}

tr:hover td {
	background-color: #1B51FF;
	color: white;
}/*esta aca*/


.rojo{
	position: absolute;
	color: red;
	font-size: 15px;
}